# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.nar
*.ear
*.zip
*.tar.gz
*.rar

*.iml

# idea local storage ignored files
/.idea/
.idea
.idea/
/.idea/checkstyleidea-libs/
/.idea/checkstyleidea-libs
/.idea/dataSources/
/.idea/dataSources


# target local storage ignored files
/target/
target
target/
/target/generated-sources/
/target/generated-sources
/target/classes/
/target/classes

/out/
out
out/

!/src/main/java/com/kt/jspjpa/gestor/model/TestJpaClass.java
