# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.iml

# idea local storage ignored files
/.idea/
.idea
.idea/
/.idea/checkstyleidea-libs/
/.idea/checkstyleidea-libs
/.idea/dataSources/
/.idea/dataSources


# target local storage ignored files
/target/
target
target/
/target/generated-sources/
/target/generated-sources
/target/JSP_Project_Gestor/
/target/JSP_Project_Gestor
/target/classes/
/target/classes

/target/JSP_Project_Gestor.war







